.top-bar {
  background-color: white;
}

.top-bar .name h1 a {
  color: #29387e;
  font-family: 'Nobile', sans-serif;
  font-size: 1.5em;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #e1e1e1;
  color: #29387e;
  font-size: 1.1em;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: white;
  color: black;
  font-size: 1.1em;
}

.box-title h1 {
  font-size: 1.5em;
  font-family: Helvetica;
}

.item-box{
  padding: 3em;
  font-family: 'Open Sans'
}

.intro-text {
  color:white;
  font-size: 5em;
  font-family: 'Kalam';
}

.intro-subtext {
  color:white;
  font-size: 2.5em;
  font-family: Times;
}

#intro-box {
  padding-top: 15em;
  padding-bottom: 5em;
  height: 100%;
  background-image: url('../img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#about-box {
  padding-top: 5em;
}

.about-title {
  border-bottom: solid grey 1px;
  margin-bottom: 1em;
}

.about-pic {
  padding-bottom: 0;
  border-bottom: 0;
}

.about-text p{
  text-align: justify;
}

.contact-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.contact-btn:hover {
  background-color: #29387e;
  color: white;
  border: 2px dotted #29387e;
}

#portfolio-box {
  background-color: #383c4d;
}

.portfolio-title h1{
  color: white;
}

.project-img {
  height: 300px;
  width: 300px;
}

.project {
  display: inline-block;
}


.full-width {
  max-width: 1400px;
}
