.top-bar {
  background-color: white;
}

.top-bar .name h1 a {
  color: #00004b;
  font-family: 'Nobile', sans-serif;
  font-size: 1.5em;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #00004b;
  color: white;
  font-size: 1.1em;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: white;
  color: #00004b;
  font-size: 1.1em;
}

.box-title h1 {
  font-size: 1.5em;
  font-family: Helvetica;
}

.item-box{
  padding: 3em;
  border: 2px solid black;
}

.intro-text {
  color:white;
  font-size: 5em;
  font-family: 'Kalam';
}

.intro-subtext {
  color:white;
  font-size: 3em;
  font-family: Times;
}

#intro-box {
  padding-top: 15em;
  padding-bottom: 5em;
  height: 100%;
  background-image: url('../img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#about-box {
  padding-top: 5em;
}

.about-pic {
  padding-bottom: 0;
  border-bottom: 0;
}

.about-text p{
  text-align: justify;
}

.project-img {
  height: 300px;
  width: 300px;
}

.project {
  display: inline-block;
}


.full-width {
  max-width: 1400px;
}
