* {
  font-size: 1em;
  font-family:Helvetica, Arial;
}

h1 {
  border: 2px solid black;
  width: 10em;
  height: 1.5em;
  margin-left: 50%
  position:absolute;
  text-align: center;
}

.face {
  height: 10em;
  width: 10em;
  left:30%;
  display:inline-block;
  position:absolute;
  margin-top:15%;
}

#about {
  margin-top:150%;
}

#blogs {
  margin-top:20%;
}

#projects {
margin-top:25%;
}

#footer {
  position:absolute;
  height:1em;
  text-align:center;
  width:100%;
  background-color:white;
  left:0;
  bottom:0;
  font-size:.5em;
}

