* {
  font-size: 1em;
  font-family:'Quicksand', Arial;
}

#face {
  position:fixed;
  height: 4.5em;
  width: 4.5em;
  z-index: 1;
  left: 2em;
  top:0em;
}

#header {
  background-color: white;
  height: 4.5em;
  display: inline-block;
  width:100%;
  border-bottom: 2px solid black;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 1;
  top:0px;
  left: 0px;
  right: 0px;
  font-weight: bold;
}

#about {
  position:fixed;
  right: 25%;
  top:7em;
  color:white;
}

#blogs {
  position:fixed;
  right: 15%;
  top:7em;
}

#projects {
  position:fixed;
  right: 5%;
  top:7em;
}

h1 {
  width: 10em;
  text-align: center;
  margin:.5em 0em .5em 0em;
  margin-top: -5em;
  color:white;
  font-size: 1em;
}

#content {
  border: 2px solid black;
  width: 100%;
  height: 25em;
  top:12em;
  display: inline-block;
  position:absolute;
  text-align: center;
}

/*
#sidebar {
  display:none;
  border: 2px solid black;
  position: absolute;
  width: 24%;
  height:35em;
  top:12em;
  /*display: inline-block;
  right:.5%;
  margin:0;
}*/

#items {
  top:13em;
  display:inline-block;
  position: absolute;
  width: 10em;
  height: 10em;
  left: 2%;
  text-align: center;
  color:white;
}

.title {
  border: 1px solid black;
}

#footer {
  display:none;
  position:static;
  height:1em;
  text-align:center;
  background-color:white;
  left:50%;
  top:100%;
  bottom:0em;
  font-size:.5em;
  clear:both;
}

#blogtitle {
  border: 2px solid black;
  position: absolute;
  text-align: center;
  width: 5em;
  font-size:1.5em;
  top: -1.5em;
  z-index: 0;
  background-color:white;
  left: .5em;
}

a:link {
  color:black;
  text-decoration: none;
}

a:visited {
  color:black;
  text-decoration: none;
}

a:hover {
  color:navy;
  border:0.5px dotted navy;
}