* {
  font-size: .2em;
  font-family:Helvetica, Arial;
}

h1 {
  border: .2em solid black;
}

.face {
  height: 1em;
  width: 1em;
  left:30%;
  display:inline-block;
  position:absolute;
}

#about {

}

#blogs {

}

#projects {

}