* {
  font-size: 1em;
  font-family:Helvetica, Arial;
}

#header {
  border: 1px solid black;
  margin-top: .5em;
  height: 3em;
}

#content {
  border: 1px solid black;
  width: 75%;
  height: 50%;
  margin-top: 1em;
  display: inline-block;
}

#sidebar {
  border: 1px solid black;
  position: relative;
  width: 24.5%;
  height:50em;
  display: inline-block;
}

#items {
  position: absolute;
  width: 20%;
  height: 2em;
  right: 3%;
  top: 20%;
}